@page "/add-component"

<div class="add-employee-container">
    <div class="input-field">
        <div class="particular-information">
            <p class="add-employee-text">Imię</p>
            <input type="text" id="name" class="add-employee-textbox">
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Rodzaj umowy</p>
            <input type="text" id="type-of-agrement" class="add-employee-textbox">
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Minimalna liczba godzin</p>
            <input type="text" id="min-hours" class="add-employee-textbox">
        </div>

        <input type="button" class="add-employee-button">
    </div>

</div>

@code {

}