@page "/add-employee-menu"
@using BlazorBootstrap
@inject NavigationManager NavigationManager

<div class="add-employee-menu-container">
    <div class="person-info-container" @attributes="@PersonInfoContainerAttributes">
    </div>

    <div class="block-field" @attributes="@BlockRight">
        <div class="particular-block" @onclick="ChangeToAddEmployee">
            <div class="add-employee-icon">
                <Icon Name="IconName.PersonPlus" />
            </div>
            <div>
                <h2>Dodaj <br> pracownika</h2>
            </div>
        </div>
        <div class="particular-block" @onclick="TogglePersonInfoContainer">
            <p class="employee-name-block">Denis</p>
        </div>
        @foreach (var employee in employeeList)
        {
            <div class="particular-block" @onclick="TogglePersonInfoContainer"><p class="employee-name-block">@employee.name</p></div>
        }
    </div>
</div>

@code {
    private List<Employee> employeeList = new List<Employee>();
    private bool isPersonInfoVisible = false;

    private IDictionary<string, object> PersonInfoContainerAttributes => new Dictionary<string, object>
    {
        { "class", isPersonInfoVisible ? "person-info-container active" : "person-info-container" }
    };

    private IDictionary<string, object> BlockRight => new Dictionary<string, object>
    {
        { "class", isPersonInfoVisible ? "block-field active" : "block-field" }
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var employeesRepository = EmployeesRepository.GetInstance();
        employeeList = employeesRepository.GetEmployees();
    }

    private void TogglePersonInfoContainer()
    {
        isPersonInfoVisible = !isPersonInfoVisible;
    }

    private void ChangeToAddEmployee()
    {
        NavigationManager.NavigateTo("/add-component");
    }
}
