@page "/add-component"
@inject NavigationManager NavigationManager;

<div class="add-employee-container">
    @if (errorMessage != null)
    {
        <div class="error-message">
            <p>@errorMessage</p>
        </div>
    }

    <div class="input-field">
        <div class="particular-information">
            <p class="add-employee-text">Imię</p>
            <input type="text" id="name" class="add-employee-textbox" @bind="name">
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Rodzaj umowy</p>
            @* <input type="text" id="type-of-agrement" class="add-employee-textbox"> *@
            <select id="type-of-agrement" class="add-employee-textbox" @bind="typeOfAgreement">
                <option value="1">Umowa o pracę</option>
                <option value="2">Umowa zlecenie</option>
            </select>
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Minimalna liczba godzin</p>
            <input type="text" id="min-hours" class="add-employee-textbox" @bind="minHours">
        </div>

        <div class="add-employee-buttons">
            <button class="add-employee-button" @onclick="AddEmployeeMethod">Dodaj pracownika</button>
            <button class="add-employee-button" @onclick="GoBack">Anuluj</button>
        </div>

    </div>

</div>

@code {
    private string minHours { get; set; }
    private string typeOfAgreement { get; set; }
    private string name { get; set; }
    private int mintHours { get; set; }
    private string errorMessage { get; set; }
    private static IEmployeesRepository employeesRepository = EmployeesRepository.GetInstance();
    private List<Employee> employees = new List<Employee>();

    private void AddEmployeeMethod()
    {
        try
        {
            mintHours = int.Parse(minHours);

            Employee employee = new Employee(name, typeOfAgreement, mintHours);

            employeesRepository.AddEmployee(employee);

            employees = employeesRepository.GetEmployees();

            Console.WriteLine("Name: " + employees[0].name);
            Console.WriteLine("Type of agreement: " + employees[0].typeOfAgreement);
            Console.WriteLine("Min hours: " + employees[0].minHours);
            Console.WriteLine(employees[0]);

            errorMessage = null;

            NavigationManager.NavigateTo("/add-employee-menu");
        }
        catch (Exception e)
        {
            errorMessage = "Wprowadzono niepoprawne dane!" + e.Message;
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/add-employee-menu");
    }
}