@page "/add-employee"
@using BlazorBootstrap;

<div class="person-info-container">
    
</div>

<div class="block-field">
    <div class="particular-block">
        <h1><Icon Name="IconName.PersonPlus" />Dodaj pracownika</h1>
    </div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
</div>


@code{

}