@page "/add-employee"
@using BlazorBootstrap;

<div class="person-info-container">
    
</div>

<div class="block-field">
    <div class="particular-block">
        <div class="add-employee-icon"><Icon Name="IconName.PersonPlus" /></div>
        <div><h2>Dodaj <br> pracownika</h2></div>
    </div>
    <div class="particular-block"><p class="employee-name-block">Denis</p></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
    <div class="particular-block"></div>
</div>


@code{

}