
/blazorApp/BlazorSchedule/obj/Debug/net8.0/compressed
/blazorApp/BlazorSchedule/bin/Debug
/blazorApp/BlazorSchedule/bin/Debug
/blazorApp/BlazorSchedule/.vs/
/blazorApp/BlazorSchedule/bin/
/blazorApp/BlazorSchedule/obj/
/blazorApp/BlazorSchedule/*.user
/blazorApp/BlazorSchedule/artifacts/
/blazorApp/BlazorSchedule/.vscode/
/blazorApp/BlazorSchedule/.dotnet/
/blazorApp/BlazorSchedule/*.binlog