@page "/your-schedule"
@inject AppState appState;

<div class="particular-information">
    <p class="add-employee-text">Miesiąc</p>
    <select id="type-of-agreement" class="add-employee-textbox" @bind="month">
        @for (int i = 1; i <= 12; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="particular-information">
    <p class="add-employee-text">Rok</p>
    <select id="type-of-agreement" class="add-employee-textbox" @bind="year">
        @for (int i = 2020; i <= 2050; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="show-schedule-button" @onclick="MakeSchedule">Pokaż grafik</div>

@code {
    private int month;
    private int year;
    private void MakeSchedule()
    {
        Console.WriteLine("month"); 
        Console.WriteLine(month); 

        DateTime date = new DateTime(year, month, 1);
        int daysInApril = DateTime.DaysInMonth(date.Year, date.Month);
        DateTime firstDayOfApril = new DateTime(date.Year, date.Month, 1);
        DayOfWeek startDayOfWeek = firstDayOfApril.DayOfWeek;

        Console.WriteLine($"Kwiecień 2024 roku ma {daysInApril} dni.");
        Console.WriteLine($"Kwiecień 2024 roku rozpoczyna się od dnia tygodnia: {startDayOfWeek}.");

        @* appState.CompanyInstance. *@
        appState.schedule.InitializeSchedule(daysInApril);
    }
}