.show-schedule-button{
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    color: white;
    width: 10em;
    height: 4em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.show-schedule-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.show-schedule-button:active{
    scale: 0.95;
}

.particular-information{
    display: flex;
    padding: 2em;
    justify-content: flex-start; 
    align-items: center;
}

.add-employee-text{
    font-size: 22px;
}

.add-employee-textbox{
    margin-left: 1em;
    border-radius: 8px;
}

.error-message{
    background-color: #661D15;
    color: red;
    font-size: 28px;
    width: 1000px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    margin-top: 2em;
}

.cell{
    text-align: center;
    border: 1px solid black;
}

.schedule{
    margin: 1em;
}

.scheduleContainer{
    display: flex;
    flex-direction: row;
}

.hoursInfo{
    padding-left: 2em;
}

.holiday-button{
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 5em;
    height: 2em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.holiday-button:hover{
    background-color: #551811;
    cursor: pointer;
}