@page "/options"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Components;
@inject AppState appState;

<div class="buttons">
    <div class="button" @onclick="SavaAllData">Zapisz dane</div>
    <div class="button" @onclick="LoadAllData">Wczytaj dane</div>
    <div class="button" @onclick="ReadData">read</div>
    <input type="text" id="date" class="add-employee-textbox" @bind="employeeData">
    <input type="text" id="date" class="add-employee-textbox" @bind="companyData">
</div>


@code {
    string employeeData;
    string companyData;
    Company companyInstance;
    EmployeesRepository employeesRepository;

    @* protected void OnInitialized()
{
companyInstance = appState.CompanyInstance;
employeesRepository = appState.EmployeesRepository;
Console.WriteLine(companyInstance.name);
} *@

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        companyInstance = appState.CompanyInstance;
        employeesRepository = appState.EmployeesRepository;
        Console.WriteLine(companyInstance.name);

        employeeData = "{\"employees\":[{\"name\":\"Denis\",\"typeOfAgreement\":\"Umowa o pracę\",\"minHours\":160,\"daysOff\":[1,21,22],\"SelectedDayOff\":22,\"positions\":[\"Kierowca\"]},{\"name\":\"Asia\",\"typeOfAgreement\":\"Umowa o pracę\",\"minHours\":160,\"daysOff\":[2],\"SelectedDayOff\":2,\"positions\":[\"Burger\",\"Pizza\"]},{\"name\":\"Ania\",\"typeOfAgreement\":\"Umowa o pracę\",\"minHours\":70,\"daysOff\":[13,16],\"SelectedDayOff\":16,\"positions\":[\"Bar\"]},{\"name\":\"Weronika\",\"typeOfAgreement\":\"Umowa zlecenie\",\"minHours\":120,\"daysOff\":[3,7],\"SelectedDayOff\":7,\"positions\":[\"Bar\"]},{\"name\":\"Beniamin\",\"typeOfAgreement\":\"Umowa o pracę\",\"minHours\":160,\"daysOff\":[30,5],\"SelectedDayOff\":5,\"positions\":[\"Kierowca\"]},{\"name\":\"Magda\",\"typeOfAgreement\":\"Umowa zlecenie\",\"minHours\":180,\"daysOff\":[8],\"SelectedDayOff\":8,\"positions\":[\"Burger\",\"Bar\",\"Pizza\"]},{\"name\":\"Brygida\",\"typeOfAgreement\":\"Umowa o pracę\",\"minHours\":160,\"daysOff\":[15,16,17,1],\"SelectedDayOff\":1,\"positions\":[\"Pizza\"]}]}";
        companyData = "{\"name\":\"Soprano\",\"workingDays\":[\"wtorek\",\"środa\",\"czwartek\",\"piątek\",\"sobota\",\"niedziela\"],\"workingHoursDay\":{\"wtorek\":{\"12:00:00\":\"22:00:00\"},\"piątek\":{\"12:00:00\":\"23:00:00\"},\"sobota\":{\"12:00:00\":\"23:00:00\"},\"niedziela\":{\"15:00:00\":\"22:00:00\"},\"środa\":{\"12:00:00\":\"22:00:00\"},\"czwartek\":{\"12:00:00\":\"22:00:00\"}},\"positionsPerDay\":{\"wtorek\":[\"Kierowca\",\"Bar\",\"Pizza\"],\"środa\":[\"Kierowca\",\"Bar\",\"Pizza\"],\"czwartek\":[\"Kierowca\",\"Bar\",\"Pizza\"],\"piątek\":[\"Kierowca\",\"Bar\",\"Pizza\",\"Burger\"],\"sobota\":[\"Kierowca\",\"Bar\",\"Pizza\",\"Burger\",\"Kierowca\"],\"niedziela\":[\"Bar\",\"Pizza\",\"Burger\",\"Kierowca\",\"Kierowca\"]},\"positionsList\":[\"Kierowca\",\"Pizza\",\"Burger\",\"Bar\"],\"isCheckboxChecked\":false}";
    }

    private void ReadData()
    {
        Console.WriteLine(companyInstance.name);

    }

    private void SavaAllData()
    {
        string employeeData = JsonConvert.SerializeObject(employeesRepository);
        Console.WriteLine("employeeData");
        Console.WriteLine(employeeData);

        string companyData = JsonConvert.SerializeObject(companyInstance);
        Console.WriteLine("companyData");
        Console.WriteLine(companyData);
    }

    private void LoadAllData()
    {

        Console.WriteLine(employeeData);
        Console.WriteLine(companyData);
        companyInstance = JsonConvert.DeserializeObject<Company>(companyData);
        employeesRepository = JsonConvert.DeserializeObject<EmployeesRepository>(employeeData);
        Console.WriteLine(companyInstance.name);

        appState.CompanyInstance = companyInstance;
        appState.EmployeesRepository = employeesRepository;
    }
}