@page "/options"
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Components;
@inject AppState appState;

<div class="buttons">
    <div class="button" @onclick="SavaAllData">Zapisz dane</div>
    <div class="button" @onclick="LoadAllData">Wczytaj dane</div>
    <div class="button" @onclick="ReadData">read</div>
    <input type="text" id="date" class="add-employee-textbox" @bind="employeeData">
    <input type="text" id="date" class="add-employee-textbox" @bind="companyData">
</div>


@code {
    string employeeData;
    string companyData;
    Company companyInstance;
    EmployeesRepository employeesRepository;

    @* protected void OnInitialized()
{
companyInstance = appState.CompanyInstance;
employeesRepository = appState.EmployeesRepository;
Console.WriteLine(companyInstance.name);
} *@

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        companyInstance = appState.CompanyInstance;
        employeesRepository = appState.EmployeesRepository;
        Console.WriteLine(companyInstance.name);
    }

    private void ReadData()
    {
        Console.WriteLine(companyInstance.name);

    }

    private void SavaAllData()
    {
        string employeeData = JsonConvert.SerializeObject(employeesRepository);
        Console.WriteLine("employeeData");
        Console.WriteLine(employeeData);

        string companyData = JsonConvert.SerializeObject(companyInstance);
        Console.WriteLine("companyData");
        Console.WriteLine(companyData);
    }

    private void LoadAllData()
    {

        Console.WriteLine(employeeData);
        Console.WriteLine(companyData);
        companyInstance = JsonConvert.DeserializeObject<Company>(companyData);
        employeesRepository = JsonConvert.DeserializeObject<EmployeesRepository>(employeeData);
        Console.WriteLine(companyInstance.name);

        appState.CompanyInstance = companyInstance;
        appState.EmployeesRepository = employeesRepository;
    }
}