@page "/options"
@inject AppState appState;

<div class="flex items-center mt-8">
    <div class="ml-4 flex justify-center items-center common-button" @onclick="SavaAllData">Save data</div>
    <div class="ml-4 flex justify-center items-center common-button" @onclick="LoadAllData">Load data</div>
    <div class="ml-4 flex justify-center items-center common-button" @onclick="ReadData">read</div>
    <input type="text" id="date" class="ml-4 rounded-lg text-black" @bind="employeeData">
    <input type="text" id="date" class="ml-4 rounded-lg text-black" @bind="companyData">
</div>