.add-employee-container{
    position: relative;
    height: 100vh;
}


.particular-information{
    display: flex;
    padding: 2em;
    justify-content: flex-start; 
    align-items: center;
}

.add-employee-text{
    font-size: 22px;
    margin-left: auto;
}

.add-employee-textbox{
    margin-left: 1em;
    border-radius: 8px;
}

.input-field{
    width: 600px;
}

.add-employee-buttons{
    position: absolute;
    right: 3em;
    bottom: 3em;
}

.add-employee-button{
    color: white;
    width: 10em;
    height: 4em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-employee-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.add-employee-button:active{
    scale: 0.95;
}

.error-message{
    background-color: #661D15;
    color: red;
    font-size: 28px;
    width: 1000px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    margin-top: 2em;
}