@page "/add-component/{editByName}"
@page "/add-component"
@inject NavigationManager NavigationManager;
@inject AppState appState;
@using System.Collections.Generic;

<div class="relative h-screen">
    @if (errorMessage != null)
    {
        <div class="bg-[#661D15] text-red-500 text-2xl w-[1000px] h-[100px] flex items-center justify-center ml-8 mt-8">
            @* change this *@
            <p>@errorMessage</p> 
        </div>
    }

    <div class="w-[600px]">
        <div class="flex p-8 justify-start items-center">
            <p class="text-xl ml-auto">Name</p>
            <input type="text" id="name" class="ml-4 rounded-lg text-black" @bind="name">
        </div>
        <div class="flex p-8 justify-start items-center">
            <p class="text-xl ml-auto">Type of Agreement</p>
            <select id="type-of-agreement" class="ml-4 rounded-lg text-black" @bind="typeOfAgreement">
                <option value="contract">Employment Contract</option>
                <option value="mandate">Mandate Contract</option>
            </select>
        </div>
        <div class="flex p-8 justify-start items-center">
            <p class="text-xl ml-auto">Minimum Hours</p>
            <input type="text" id="min-hours" class="ml-4 rounded-lg text-black" @bind="minHours">
        </div>
        <div class="flex p-8 justify-start items-center">
            <p class="text-xl ml-auto">Position</p>
            <select id="type-of-agreement" class="ml-4 rounded-lg text-black" @bind="position">
                @foreach (var position in appState.CompanyInstance.positionsList)
                {
                    <option value="@position">@position</option>
                }
            </select>
            <button class="ml-4 text-white w-[10em] h-[2em] bg-[#661D15] border-none shadow-md hover:bg-[#551811] active:scale-95" @onclick="AddPosition">Add Position</button>
        </div>
        <div class="flex justify-center items-center">
            @foreach (var position in positions)
            {
                <div class="flex justify-center items-center">
                    <p>@position</p>
                </div>
            }
        </div>

        <div class="absolute right-12 bottom-12">
            <button class="common-button" @onclick="AddEmployeeMethod">Add Employee</button>
            <button class="common-button" @onclick="GoBack">Cancel</button>
        </div>
    </div>
</div>