.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content{
    margin: 0;
    padding-left: 0;
}

main {
    flex: 1;
}

.sidebar {
    /* sidebar background-color */
    background-color: #661D15;
}

article {
    padding: 0 !important;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
