@page "/employee-preference"
@using Newtonsoft.Json;
@using Reusable;
@inject AppState appState;

@if (errorMessage != null)
{
    <div class="bg-[#661D15] text-red-500 text-2xl w-[1000px] h-[100px] flex items-center justify-center ml-8 mt-8">
        <p>@errorMessage</p>
    </div>
}
@foreach (var employee in employees)
{
    <div class="particular-employee">
        <Card Class="bg-[#333333] border-[#661D15] text-white border-4 m-2">
            <CardBody>
                <CardTitle>@employee.name</CardTitle>
                <div class="flex justify-start items-center p-8 flex-wrap w-[w-calc-minus-250]">
                    <p class="text-xl">Days Off</p>
                    <input type="text" id="date" class="w-16 ml-4 rounded-lg text-black" @bind="employee.SelectedDayOff"
                        @onkeydown="(e) => OnEnterKeyPress(e, employee)" @oninput="(e) => employee.SelectedDayOff = int.TryParse(e.Value?.ToString(), out var result) ? result : employee.SelectedDayOff" />
                    <div class="ml-4 flex justify-center items-center text-white w-20 h-8 bg-[#661D15] border-none shadow-md hover:bg-[#551811] active:scale-95 "
                        @onclick='() => AddDate(employee)'>Add</div>
                    <RemoveFromList Items="employee.daysOff" />
                </div>
            </CardBody>
        </Card>

    </div>
}