.name{
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

.particular-information{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 2em;
}

.list-days{
    font-size: 18px;
}

.add-employee-textbox{
    width: 4em;
    margin-left: 1em;
    border-radius: 8px;
}   

.add-day{
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 5em;
    height: 2em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-day:hover{
    background-color: #551811;
    cursor: pointer;
}

.add-day:active{
    scale: 0.95;
}

.error-message{
    background-color: #661D15;
    color: red;
    font-size: 28px;
    width: 1000px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    margin-top: 2em;
}

.subtract-day{
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}