@page "/employee-preference"
@using Newtonsoft.Json;
@inject AppState appState;

@if (errorMessage != null)
{
    <div class="error-message">
        <p>@errorMessage</p>
    </div>
}
@foreach (var employee in employees)
{
    <div class="particular-employee">
        <h3 class="name">@employee.name</h3>
        <div class="particular-information">
            <p class="add-employee-text">Days Off</p>
            <input type="text" id="date" class="add-employee-textbox" @bind="employee.SelectedDayOff">
            <div class="add-day" @onclick='() => AddDate(employee)'>Add</div>
            @if (employee.daysOff != null)
            {
                @for (int i = 0; i < employee.daysOff.Count; i++)
                {
                    int iIndex = i;
                    <div>
                        @if (i == 0)
                        {
                            <div class="subtract-day"><p class="list-days">&nbsp;&nbsp;@employee.daysOff[i]</p> <div class="add-day" style="width: 30px;" @onclick='() => SubtractDay(employee, iIndex)'>-</div></div>
                            //&nbsp; - non-breaking space
                        }
                        else if (i > 0)
                        {
                            <div class="subtract-day"><p class="list-days">, @employee.daysOff[i]</p> <div class="add-day" style="width: 30px;" @onclick='() => SubtractDay(employee, iIndex)'>-</div></div>
                        }
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private string errorMessage;
    private List<Employee> employees;
    private IEmployeesRepository employeesRepository;

    protected override void OnInitialized()
    {
        employeesRepository = appState.EmployeesRepository;
        employees = employeesRepository.GetEmployees();
    }

    private void AddDate(Employee employee)
    {
        if (employee.SelectedDayOff > 0 && employee.SelectedDayOff < 32 && employee.SelectedDayOff != null)
        {
            errorMessage = null;
            employee.daysOff.Add(employee.SelectedDayOff);
            @* Console.WriteLine("json");
            Company companyInstance = Company.Instance;
            string json = JsonConvert.SerializeObject(companyInstance.workingHoursDay);
            Console.WriteLine("json");
            Console.WriteLine(json); *@
        }
        else
        {
            errorMessage = "Invalid date format";
        }
    }

    private void SubtractDay(Employee employee, int index)
    {
        Console.WriteLine(index);
        if (employee.daysOff != null && index >= 0 && index < employee.daysOff.Count)
        {
            employee.daysOff.RemoveAt(index);
        }
    }
}