@page "/employee-preference"

@foreach (var employee in employees)
{
    <div class="particular-employee">
        <h3 class="name">@employee.name</h3>
        <div class="particular-information">
            <p class="add-employee-text">Dni wolne</p>
            <input type="text" id="date" class="add-employee-textbox" @bind="employee.SelectedDayOff">
            <div class="add-day" @onclick='() => AddDate(employee)'>Dodaj</div>
            @if (employee.daysOff != null)
            {
                @for(int i = 0; i < employee.daysOff.Count; i++)
                {
                    <p class="add-employee-text">@employee.daysOff[i]</p>
                }
            }
        </div>

    </div>
}

@code {
    private List<Employee> employees;
    private static IEmployeesRepository employeesRepository;
    protected override void OnInitialized()
    {
        employeesRepository = EmployeesRepository.GetInstance();
        employees = employeesRepository.GetEmployees();
    }

    private void AddDate(Employee employee)
    {
        employee.daysOff.Add(employee.SelectedDayOff);
    }
}