@page "/company-information";
@using BlazorBootstrap
@inject NavigationManager NavigationManager;

<div>
    <div class="company-info-container">
        <p class="company-info-text">Nazwa:</p>
        <p class="company-info-text">Dni pracujące:</p>
        <p class="company-info-text">Ilość godzin:</p>
        <p class="company-info-text">Godzina przyjścia pomocy:</p>
    </div>

    <div class="company-info-buttons">
        <button class="company-info-button" @onclick="ChangeInformation">Edytuj informacje</button>
    </div>



</div>

@code {
    private void ChangeInformation()
    {
        NavigationManager.NavigateTo("/company-information-edit");
    }

}