.add-employee-container{
    position: relative;
    height: 100vh;
}


.particular-information{
    display: flex;
    padding: 2em;
    justify-content: flex-start; 
    align-items: center;
}

.add-employee-text{
    font-size: 22px;
    margin-left: auto;
    padding-top: 8px;
}

.add-employee-textbox{
    margin-left: 1em;
    border-radius: 8px;
}

.input-field{
    width: 600px;
}

.add-employee-buttons{
    position: absolute;
    right: 3em;
    bottom: 3em;
}

.add-employee-button{
    color: white;
    width: 10em;
    height: 4em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-employee-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.add-employee-button:active{
    scale: 0.95;
}

.error-message{
    background-color: #661D15;
    color: red;
    font-size: 28px;
    width: 1000px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2em;
    margin-top: 2em;
}

.company-info-button{
    margin-top: 1em;
    color: white;
    width: 10em;
    height: 4em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.company-info-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.company-info-button:active{
    scale: 0.95;
}

.company-info-buttons{
    margin-left: 400px;
}

.working-days-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    margin-left: 300px;
}

.particular-day{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    background-color: #661D15;
    width: 7em;
    height: 3em;
    cursor: pointer;
}

.particular-information:nth-child(2){
    flex-direction: column;
    justify-content: center;
}

.working-day{
    background-color: #551811;
}

.add-position-button{
    margin-left: 1em;
    margin-top: 1em;
    color: white;
    width: 7em;
    height: 3em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-position-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.add-position-button:active{
    scale: 0.95;
}