.particular-information{
    display: flex;
    padding: 2em;
    justify-content: flex-start; 
    align-items: center;
}

.add-employee-text{
    font-size: 22px;
    margin-left: auto;
    padding-top: 8px;
}

.input-field{
    width: 600px;
}

.choose-hour{
    margin-left: 1em;
    background-color: #661D15;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
}

.every-day{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: flex-start;
    align-items: center;
}

.checkbox{
    width: 20px;
    height: 20px;
    background-color: #661D15;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.adjust-hours-per-day{
    display: flex;
    align-items: center;
    width: auto;
    overflow-x: auto;
    /* position: absolute; */
    overflow-x: auto;
    width: 85vw;
    padding-right: 1em;
}

.adjust-particular-day-hour{
    width: 230px;
    height: 100px;
    background-color: #661D15;
    margin-left: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1em;
    padding-right: 1em;
}

.adjust-particular-day-position{
    min-width: 200px;
    background-color: #661D15;
    margin-left: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1em;
}

.save-company-info-buttons{
    padding-right: 3em;
    padding-bottom: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.save-company-info-button{
    color: white;
    width: 10em;
    height: 4em;
    background-color: #661D15;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.save-company-info-button:hover{
    background-color: #551811;
    cursor: pointer;
}

.save-company-info-button:active{
    scale: 0.95;
}

.add-position-text{
    font-size: 12px;
}

.add-position-button{
    width: 30px;
    height: 30px;
    background-color: #661D15;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    padding-top: 2px;
}

.align-this{
    display: flex;
    justify-content: center;
    align-items: center;
}