@page "/company-information-edit";
@inject NavigationManager NavigationManager;
@using System.Text.Json;
@using System.Web;
@using YourBlazorProject.Models;
@inject AppState appState;

<div class="add-employee-container">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">
            <p>@errorMessage</p>
        </div>
    }

    <div class="input-field">
        <div class="particular-information">
            <p class="add-employee-text">Nazwa firmy</p>
            <input type="text" class="add-employee-textbox" @bind="name">
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Dni pracujące</p>
            <div class="working-days-container">
                @foreach (DaysOfWeek day in Enum.GetValues(typeof(DaysOfWeek)))
                {
                    <div class="particular-day @(workingDaysList.Contains(day.ToString()) ? "working-day" : "")"
                        @onclick='() => AddDay(day.ToString())'>@day</div>
                }
            </div>
        </div>
        <div class="particular-information">
            <p class="add-employee-text">Stanowisko</p>
            <input type="text" id="position" class="add-employee-textbox" @bind="position">
            <button class="add-position-button" @onclick="AddPosition">Dodaj stanowisko</button>
        </div>
        <div class="displayPositions">
            @foreach (string position in positions)
            {
                <div class="align-this" style="margin-left: 5em;">
                    <p>@position</p>
                </div>
            }
        </div>

        <div class="company-info-buttons">
            <button class="company-info-button" @onclick="NextPage">Przejdź dalej </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? name { get; set; }
    [Parameter]
    public string? shift { get; set; }

    [Parameter]
    public List<string> workingDaysList { get; set; } = new List<string>();

    [Parameter]
    public List<string> positions { get; set; } = new List<string>();
    private string? position;
    private int mintHours;
    private string? errorMessage;

    @code {
        protected override void OnInitialized()
        {
            shift = "first";

            if (appState.CompanyInstance.name != null)
            {
                name = appState.CompanyInstance.name;
                workingDaysList = appState.CompanyInstance.workingDays;
                positions = appState.CompanyInstance.positionsList;
            }
        }

        private void AddDay(string day)
        {
            if (string.IsNullOrEmpty(day))
            {
                return;
            }

            if (workingDaysList.Contains(day))
            {
                workingDaysList.Remove(day);
            }
            else
            {
                workingDaysList.Add(day);
            }
        }

        private void AddPosition()
        {
            if (string.IsNullOrEmpty(position))
            {
                errorMessage = "Stanowisko nie może być puste";
                return;
            }

            if (positions.Contains(position))
            {
                errorMessage = "Stanowisko już istnieje";
                return;
            }

            positions.Add(position);
            position = string.Empty;
        }

        private void NextPage()
        {
            if (!AreParametersNotEmpty() || name == null)
            {
                errorMessage = "Wypełnij wszystkie pola";
                return;
            }

            // Przekazanie danych poprzez adres URL
            string encodedPositions = Uri.EscapeDataString(JsonSerializer.Serialize(positions));
            string encodedWorkingDaysList = Uri.EscapeDataString(JsonSerializer.Serialize(workingDaysList));
            string encodedName = Uri.EscapeDataString(name);
            NavigationManager.NavigateTo($"/company-information-edit-next/{encodedPositions}/{encodedWorkingDaysList}/{encodedName}/{shift}");
        }

        private bool AreParametersNotEmpty()
        {
            return !string.IsNullOrEmpty(name) && workingDaysList.Count > 0 && positions.Count > 0;
        }

        private void GoBack()
        {
            NavigationManager.NavigateTo("/add-employee-menu");
        }
    }
}