.page {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 0;
    padding-left: 0;
}

.sidebar {
    /* sidebar background-color */
    background-color: #661D15;
    min-width: 250px;
    height: 100vh;
}

/* @media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
} */