<div class="company-name">
    <a class="company-name-text" href="">BlazorSchedule</a>
</div>

<div>
    <div class="page-button">
        <a class="page-button-text" href="company-information" data-test-id="company-information">Company Information</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="add-employee-menu" data-test-id="add-employee-menu">Add Employee</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="employee-preference" data-test-id="employee-preference">Employee Preferences</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="your-schedule" data-test-id="your-schedule">Your Schedule</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="excel" data-test-id="excel">Export to Excel</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="options" data-test-id="options-page">Options</a>
    </div>
</div>

@code {

}

<style>
.company-name{
    /* 3 color */
    width: auto;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button{
    margin: 1em 0.5em 0 0.5em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.page-button:hover{
    background-color: #551811;
}

.page-button-text{
    color: white;
    text-decoration: none;
}

.company-name-text{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.page-button-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}



</style>