<div class="company-name">
    <a class="company-name-text" href="">BlazorSchedule</a>
</div>

<div class="page-button-container">
    <div class="page-button">
        <a class="page-button-text" href="company-information" data-test-id="company-information">Company Information</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="add-employee-menu" data-test-id="add-employee-menu">Add Employee</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="employee-preference" data-test-id="employee-preference">Employee Preferences</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="your-schedule" data-test-id="your-schedule">Your Schedule</a>
    </div>
    <div class="page-button">
        <a class="page-button-text" href="options" data-test-id="options-page">Options</a>
    </div>
</div>

@code {

}
















@* <div class="top-row ps-3 navbar navbar-dark">
<div class="container-fluid">
<a class="navbar-brand" href="">BlazorSchedule</a>
<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
<span class="navbar-toggler-icon"></span>
</button>
</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
<nav class="flex-column">
<div class="nav-item px-3">
<NavLink class="nav-link" href="counter">
<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
</NavLink>
</div>
</nav>
</div>

@code {
private bool collapseNavMenu = true;

private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

private void ToggleNavMenu()
{
collapseNavMenu = !collapseNavMenu;
}
} *@
